# Q1. Pandas version

In [1]:
import pandas as pd
pd.__version__

'2.3.2'

# Q2. Records count

In [2]:
import pandas as pd

df = pd.read_csv("car_fuel_efficiency.csv")
len(df)

9704

# Q3. Fuel types

In [3]:
df["fuel_type"].nunique()

2

# Q4. Missing values

In [4]:
df.isnull().sum().gt(0).sum()

np.int64(4)

In [10]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# Q5. Max fuel efficiency

In [15]:
df[df["origin"]=="Asia"]["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

# Q6. Median value of horsepower

In [16]:
# 1. Median before filling
median_before = df["horsepower"].median()

# 2. Most frequent value
most_freq = df["horsepower"].mode()[0]

# 3. Fill NA
df["horsepower"] = df["horsepower"].fillna(most_freq)

# 4. Median after filling
median_after = df["horsepower"].median()

In [19]:
median_before

np.float64(149.0)

In [20]:
median_after

np.float64(152.0)

# Q7. Sum of weights

In [22]:
import numpy as np

# 1â€“2: select Asian cars, two columns
df_asia = df[df["origin"]=="Asia"][["vehicle_weight", "model_year"]]

# 3: take first 7
X = df_asia.head(7).to_numpy()

# 5: compute XTX
XTX = X.T.dot(X)

# 6: invert
XTX_inv = np.linalg.inv(XTX)

# 7: y array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# 8: w
w = XTX_inv.dot(X.T).dot(y)

# 9: sum of weights
w.sum()

np.float64(0.5187709081074016)